.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}

.header a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}
.header a:hover{
    color: orange;
}

.header-email{
    color: #FFFFFF;
}

#logout-btn{
    color: rgb(169, 42, 42);
}

#logout-btn:hover{
    color: orange;
}

#login-btn{
    color: rgb(60, 128, 60);
}

#login-btn:hover{
    color: orange;
}